* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito',sans-serif;
}

.input {
    text-align: center;
    margin: 100px 0;
}

input[type='text'] {
    height: 50px;
    width: 600px;
    background: #E7E7E7;
    font-family: 'Nunito',sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

input[type='submit'] {
    height: 50px;
    width: 100px;
    background: #E7E7E7;
    font-family: 'Nunito',sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FF6E40;
    color: #FFF;
}

.display {
    text-align: center;
}