* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito',sans-serif;
}

.container {
    height: 100vh;
    width: 80%;
    margin: auto;
}

nav {
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
}

nav .logo {
    font-size: 25px;
    color: #FF6E40;
    font-weight: 500;
}

nav .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .nav li {
    margin: 0 20px;
    list-style: none;
    cursor: pointer;
    font-size: 20px;
}

nav .nav li:hover {
    color: #FF6E40;
    text-decoration: underline;
}

.hero-section {
    height: 90vh;
    /* padding: 30px; */
    display: flex;
    align-items: center;
}

.hero-section .hero-image img {
    width: 600px;
    height: 600px;
}

.hero-section .hero-text {
  font-size: 20px;
  margin-left: 100px;
  /* text-align: center; */
}

.hero-section .hero-text h2 {
  margin: 25px 0;
  /* text-align: center; */
  font-size: 50px;
  color: #FF6E40;
  font-weight: bold;
}

.hero-section .hero-text p {
  font-weight: 500;
  font-size: 25px;
}

.about-section {
    text-align: center;
    font-size: 25px;
    margin: 30px;
}

.about-section #unique {
    color: #FF6E40;
}

.about-section .cards {
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
}



.weather-card {
    /* background-color: #a5c735; */
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px 0;
    width: 100%;
}


.card {
  background: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  /* max-width: 500px; */
  margin: 1em;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

#searchButton {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}

#searchButton:hover {
  background: #7c7c7c6b;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}

.button{
  /* height: 30px; */
  /* width: 100px; */
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #FF6E40;
  color: #FFF;
  margin: 20px 0;
  padding: 10px 20px;
  text-align: center;
}

#output {
  background-color: #E7E7E7;
  color: #000;
  font-family: 'Nunito',sans-serif;
  padding: 15px;
  border-radius: 15px;
  width: 75%;
  margin: auto;
  text-align: center;
}